trigger: none
pool: HLD
steps:
- task: NodeTool@0
  displayName: To install Nodejs
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'
- task: PowerShell@2
  displayName:  NPM install
  inputs:
    targetType: 'inline'
    script: 'npm install'
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm run build'
- task: ArchiveFiles@2
  displayName: 
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/Build'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(System.DefaultWorkingDirectory)/Build.zip'
    replaceExistingArchive: true
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(SystemDefaultWorkingDirectory)/build.zip'
    ArtifactName: 'to-do'
    publishLocation: 'Container'